*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial,sans-serif;

background:#f4f7fc;

overflow:hidden;

}


.login-container{

width:100%;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
135deg,
#4f46e5,
#7c3aed
);

padding:20px;

}


.login-box{

width:450px;

background:white;

padding:40px;

border-radius:25px;

box-shadow:

0 10px 35px rgba(
0,0,0,.25
);

text-align:center;

animation:fade .8s ease;

}


@keyframes fade{

from{

opacity:0;
transform:
translateY(30px);

}

to{

opacity:1;
transform:
translateY(0px);

}

}


.login-box h1{

font-size:50px;

color:#3154a5;

margin-bottom:10px;

font-weight:bold;

}


.login-box h3{

font-size:20px;

color:gray;

margin-bottom:30px;

}


.login-box input{

width:100%;

padding:15px;

margin-bottom:20px;

border:

1px solid #ddd;

border-radius:12px;

font-size:17px;

outline:none;

transition:.3s;

}


.login-box input:focus{

border:

1px solid #3154a5;

box-shadow:

0 0 10px rgba(
49,
84,
165,
.3
);

}


.login-box button{

width:100%;

padding:15px;

background:#3154a5;

color:white;

font-size:18px;

border:none;

border-radius:12px;

cursor:pointer;

transition:.3s;

font-weight:bold;

}


.login-box button:hover{

transform:
translateY(-2px);

background:#26428a;

}


.login-box button:active{

transform:
scale(.98);

}


@media(max-width:600px){

.login-box{

width:100%;

padding:25px;

}

.login-box h1{

font-size:35px;

}

.login-box h3{

font-size:16px;

}

}